/mvnw text eol=lf
*.cmd text eol=crlf

*.java linguist-detectable=true
*.html linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=true
*.properties linguist-detectable=true
